@font-face {
	font-family: Fredoka;
	src: url(Fonts/Fredoka.ttf);
}
.banner {
	width: 100%;
	height: 15vh;
	background-color: #deeefe
}
.main_text {
	width: 70%;
	margin: 0 15% 0 15%;
	padding: 1em;
	background-color: #deeefe
}
body {
	background-color: #d0e0f0;
	font: 18px, Fredoka, monospace;
}
